<html>

<head>
  <style>
    .flex-container {
      display: flex;
      flex-wrap: nowrap;
    }

    .flex-container>div {
      width: 30%;
      margin: 10px;
      /* text-align: center;
      line-height: 75px; */
    }


  </style>
</head>

<body>

<button routerLink="/mycart" (click)="callFun1()">Go to cart</button>

<div>
    <h1 style="color:rgb(241, 50, 50); background-color: white;font-weight: bold;margin-left: 15px;"> FoodItems</h1>
    <div class="jambotron" [ngStyle]="{'margin-top':'-50px'}">
      <div class="container">
        <div class="row">
            <div class="flex-container">
          <div class="col-sm-6 col-lg-4 mb-5" *ngFor="let image of foodItems;let i=index">
            <img src={{foodItems[i].image}} alt="" width="250px" height="350px"
              style="margin-right:5px;border-radius:20px;margin-top:50px">
              <h2 style="font-style: bold;">{{foodItems[i].name}}</h2>
              <h2 style="font-style: bold;">{{foodItems[i].price | number : '1.0-0'}}</h2>
              <button (click)="callFun(foodItems[i].name)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>