<p>mycart works!</p>
<div>
    <h1 style="color:rgb(241, 50, 50); background-color: white;font-weight: bold;margin-left: 15px;"> FoodItems</h1>
    <div class="jambotron" [ngStyle]="{'margin-top':'-50px'}">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4 mb-5" *ngFor="let image of foods;let i=index">
            <img src={{foods[i].image}} alt="" width="250px" height="350px"
              style="margin-right:5px;border-radius:20px;margin-top:50px">
              <h2 style="font-style: bold;">{{foods[i].name}}</h2>
              <h2 style="font-style: bold;">{{foods[i].price | number : '1.0-0'}}</h2>
              <button>Conform Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button routerLink="/signup">check out</button>